@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-field-bg: #3b3a44;
    --app-text: #f1f2f4;
    --app-green: #9f0;
    --app-pink: #f09;
    --app-purple: #90f;
    --app-orange: #f90;
    --app-blue: #0ff;
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - */
/* Style                               */
/* - - - - - - - - - - - - - - - - - - */

.grid {
    display: grid;
}

.container {
    align-content: center;
    justify-content: center;
}

.factory-container > * {
    border-radius: 5px;
}

.factory-container {
    margin-top: 50px;
}

.shape-container {
    width: 500px;
    height: 500px;
    padding: 5px;
}

input[type=text], .shape-container {
    background-color: var(--app-field-bg);
}

input[type=text] {
    padding: 5px;
    margin: 5px 0;
    color: var(--app-text);
    width: 38%;
    height: 35px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.submit {
    width: 92px;
    height: 35px;
    background-color: var(--app-orange);
    color: var(--app-text);
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 10px;
}